# Auto detect text files and perform LF normalization
* text=auto

# Text files normalized with LF
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.py text eol=lf
*.txt text eol=lf

# Force Unix LF for all shell scripts
*.sh text eol=lf

# Windows scripts require CRLF
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
